name: flutter_frontend
description: Web client for KhanaGO
publish_to: "none"

environment:
  sdk: ">=3.5.0 <4.0.0" # <-- Rango estable compatible con Flutter 3.24.x

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.2
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
